body{background-color: #000}
#top-section{background-color: #000 !important}

.navbar.navbar-dark .breadcrumb .nav-item .nav-link, .navbar.navbar-dark .navbar-nav .nav-item .nav-link {color: #fff; transition: 0.35s; text-transform: uppercase; font-weight: 400;letter-spacing: 2px;font-size: 12px}
.navbar.navbar-dark form .md-form .form-control{font-size: 14px;}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{color: #17a2b8 !important}
.navbar ul.list-group{position: absolute; opacity: 1; display: block; top: 40px; z-index: 999;}
.list-group-item a {color:#000}
.list-group-item a:hover {color:#17a2b8}
.filmtop{background: url('/images/assets/slider-bg.jpg') no-repeat;background-position: bottom center;background-size: cover;}
.carousel-indicators {top:-30px !important; bottom: auto !important}
.carousel-multi-item .carousel-indicators li {height: 0.75rem !important; width: 0.75rem !important; max-width: 0.75rem !important; background-color: rgba(23, 162, 184, 0.59) !important; margin-bottom: 0rem !important; margin-top: 0.10rem !important}
.carousel-multi-item .carousel-indicators li.active {height: 1rem !important; width: 1rem !important; max-width: 1.25rem !important; background-color: rgba(23, 162, 184, 1) !important; margin-bottom: 0rem !important; margin-top: 0rem !important}

.h5-responsive{letter-spacing: 2px !important;} 
.savemeg{margin-left: 15px !important; margin-right: 15px !important}
i.fa.fa-star{color:#ffc107; padding-right: 5px}
i.fa.fa-search{color:#ffffff}

footer.page-footer{background: url('/images/assets/ft-bg.jpg') no-repeat;background-position: bottom center;background-size: cover;min-height: 300px;}
footer.page-footer .footer-copyright{border-top: 1px solid rgba(255, 255, 255, 0.3) !important;background-color:transparent !important;}
h6{letter-spacing: 2px !important; font-weight: 700 !important}
p a{color:#000; text-decoration: underline}
p a:hover{color: #17a2b8 !important; text-decoration: none}